<div class="row resumes">
  <% @resumes.each do |resume| %>
    <div class="col-md-4 resume">
      <div class="name">
        <%= resume.name %>
      </div>
      <div class="title">
        <%= resume.experiences.current.title %>
        <span class="experience">
          <%= resume.total_experience %>
        </span>
      </div>
      <div class="info">
        <%= "Works at #{resume.experiences.current.company} in #{resume.experiences.current.location}" %>  
      </div>
      <div class="education">
        <%= "Have done #{resume.educations.highest.qualification} from #{resume.educations.highest.university}" %>  
      </div>
      <div class="linkedin">
        <%= resume.linkedin_link %>
      </div>
      <div class="actions">
        <%#= link_to 'Show', resume %>
        <%= link_to 'Edit', edit_resume_path(resume) %>
        <%#= link_to 'Destroy', resume, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    </div>
  <% end %>
</div>

<%= link_to 'New Resume', new_resume_path %>
